[submodule "lib/esp-idf"]
	path = lib/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = v5.5.4
	shallow = true
[submodule "lib/esp-matter"]
	path = lib/esp-matter
	url = https://github.com/espressif/esp-matter.git
